@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var Administracion = ViewBag.Administracion;
    var rol = ViewBag.Rol;
    var empleados = ViewBag.Empleados;
}

<div class="container" style="max-width: 1300px; margin: 20px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <table style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2;">Ticket</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2;">Empleado</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; width: 110px;">Reasignar</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; width: 400px;">Descripcion</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2;">Progreso</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; width: 110px;">Prioridad</th>
                <th style="border: 1px solid #ddd; padding: 8px; background-color: #f2f2f2; width: 110px;">Cambiar</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var items in Administracion)
            {
                <tr>
                    <td style="border: 1px solid #ddd; padding: 8px;">@items.id</td>
                    @if (items.empleadoN != null && items.empleadoA != null)
                    {
                        <td style="border: 1px solid #ddd; padding: 8px;">@items.empleadoN @items.empleadoA</td>
                        <td style="border: 1px solid #ddd; padding: 8px;"><button type="button" style="width: 100px; background-color: #17202A;" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal_@items.id">Reasignar</button></td>
                        if (items.descripcion != null)
                        {
                            <td style="border: 1px solid #ddd; padding: 8px;">@items.descripcion</td>
                        }
                        else
                        {
                            <td style="border: 1px solid #ddd; padding: 8px;">Sin descripcion</td>
                        }

                        if (items.progreso != null)
                        {
                            <td style="border: 1px solid #ddd; padding: 8px;">@items.progreso</td>
                        }
                        else{
                            <td style="border: 1px solid #ddd; padding: 8px;">Sin estado</td>
                        }
                        if (items.prioridad != null)
                        {
                            <td style="border: 1px solid #ddd; padding: 8px;">@items.prioridad</td>
                        }
                        else
                        {
                            <td style="border: 1px solid #ddd; padding: 8px;">No asignada</td>
                        }

                        <!-- Modal para cmbiar el empleado -->
                        <div class="modal fade" id="exampleModal_@items.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Reasignar empleado @items.empleadoN @items.empleadoA</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form asp-action="ModEmpleado" method="post" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <select required id="idempleado" name="idempleado" single style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;" z>
                                                @foreach (var emp in empleados)
                                                {
                                                    <option value="@emp.id_empleado">@emp.nombre @emp.apellido</option>
                                                }
                                            </select>
                                            <input hidden value="@items.id" name="idticket" id="idticket" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" value="ModEmpleado" class="btn btn-dark" style=" background-color: #17202A;">Confirmar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    }
                    else
                    {
                        <td style="border: 1px solid #ddd; padding: 8px;">No Asignado</td>
                        <td style="border: 1px solid #ddd; padding: 8px;"><button type="button" style="width: 100px" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalMod_@items.id">Asignar</button></td>
                        <td style="border: 1px solid #ddd; padding: 8px;">Sin comentario</td>
                        <td style="border: 1px solid #ddd; padding: 8px;">No activo</td>
                        <td style="border: 1px solid #ddd; padding: 8px;">@items.prioridad</td>

                        <!-- Modal para asignar un empleado -->
                        <div class="modal fade" id="exampleModalMod_@items.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar empleado</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form asp-action="ModEmpleado" method="post" enctype="multipart/form-data">
                                        <div class="modal-body">
                                            <select required id="idempleado" name="idempleado" single style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;" z>
                                                @foreach (var emp in empleados)
                                                {
                                                    <option value="@emp.id_empleado">@emp.nombre @emp.apellido</option>
                                                }
                                            </select>
                                            <input hidden value="@items.id" name="idticket" id="idticket" />
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" value="ModEmpleado" class="btn btn-dark" style=" background-color: #17202A;">Confirmar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    }
                    <td style="border: 1px solid #ddd; padding: 8px;"><button type="button" style="width: 100px" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModalChangeP_@items.id">Asignar</button></td>
                    <!-- Modal para cambiar la prioridad -->
                    <div class="modal fade" id="exampleModalChangeP_@items.id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Asignar Prioridad</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form asp-action="changePriority" method="post" enctype="multipart/form-data">
                                    <div class="modal-body">
                                        <select required id="prioridad" name="prioridad" single style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;" z>
                                            <option value="Baja">Baja</option>
                                            <option value="Media">Media</option>
                                            <option value="Alta">Alta</option>
                                        </select>
                                        <input hidden value="@items.id" name="idticket" id="idticket"/>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" value="changePriority" class="btn btn-dark" style=" background-color: #17202A;">Cambiar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </tr>
            }            
        </tbody>
    </table>
</div>