@{
    var historial = ViewBag.Historial;
    var rol = ViewBag.Rol;
}

<div style="font-family: Arial, sans-serif; background-color: #f2f2f2; margin: 0; padding: 0; display: flex; justify-content: center; align-items: center;">
    <div class="container" style="max-width: 800px; margin-top: 20px;">
        @foreach (var item in historial)
        {
            <div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; margin-bottom: 20px;">
                <h3>Ticket # @item.id</h3>
                <p>Abierto: @item.fechaInicio.ToString("dd/MM/yyyy HH:mm:ss")</p>
                <p>Servicio: @item.servicio</p>
                <p>Usuario: @item.nombre @item.apellido</p>
                @if (item.empleadoName != null && item.empleadoApellido != null)
                {
                    <p>Empleado asignado: @item.empleadoName @item.empleadoApellido</p>
                }
                else
                {
                    <p>Empleado asignado: No asignado</p>
                }

                @if (rol == "Admin")
                {
                    @if (item.fechafin != null)
                    {
                        <p>Fecha finalizado: @item.fechafin</p>
                    }
                    else
                    {
                        <p>Fecha finalizado: No finalizado</p>
                    }
                }
                <p>Descripción: @item.descripcion</p>
                <p>Prioridad: @item.prioridad</p>
                <button style="padding: 8px 16px; background-color: #007bff; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;">Ver Detalles</button>
            </div>
        }
    </div>
</div>
