@using System.Security.Claims

@{
    var idusuarios = ViewBag.usuarioid;
    var rolusuarios = ViewBag.rolusuarios;
    var usuario = ViewBag.usuariosget;
}

<div style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <div class="container" style="max-width: 600px; margin: 50px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center; margin-bottom: 20px;">TICKET</h2>

        <!-- Buscador de Usuarios -->

        <label class="justify-content-center text-center" style="font-weight:900;" for="creado_por">Buscar Usuario</label>
        <br />
        @if (rolusuarios == "Admin" || rolusuarios == "Empleado")
        {
            <form method="get" action="/Tickets/Index" style="margin-bottom: 20px;">
                <div style="display: flex; justify-content: space-between; align-items: center;">
                    <input type="text" id="searchString" name="searchString" placeholder="Buscar usuarios por nombre" style="flex-grow: 1; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px; margin-right: 10px;">
                </div>
            </form>
        }
       

        <!-- Formulario de Creación de Tickets -->
        <form asp-action="Create" method="post" enctype="multipart/form-data" style="display: grid; grid-gap: 10px;">
            @if (rolusuarios == "Admin" || rolusuarios == "Empleado")
            {
                <select required id="idUser" name="idUser" single style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;">
                    @foreach (var user in ViewBag.Usuarios)
                    {
                        <option value="@user.id">@user.nombre @user.apellido</option>
                    }
                </select>
            }else if (rolusuarios == "Usuario")
            {
                <label style="font-weight: bold;" for="serv_app">Usuario: @usuario.nombre @usuario.apellido</label>
                <input value="@idusuarios" name="idUser" id="idUser" readonly />
            }

            <label style="font-weight: bold;" for="serv_app">Problema:</label>
            <input required type="text" id="serv_app" name="serv_app" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;" />

            <label style="font-weight: bold;" for="descripcion">Descripción:</label>
            <textarea required id="descripcion" name="descripcion" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;"></textarea>

            <label style="font-weight: bold;" for="adjuntar">Adjuntar Archivo:</label>
            <input required type="file" id="archivos" name="archivo" style="width: calc(100% - 10px); padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;" />

            <label style="font-weight: bold;" for="prioridad">Prioridad:</label>
            <select required id="prioridad" name="prioridad" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;">
                <option value="Alta">ALTA</option>
                <option value="Media">MEDIA</option>
                <option value="Baja">BAJA</option>
            </select>

            <label style="font-weight: bold;" for="id_area">Tipo Problema:</label>
            <select required id="id_area" name="id_area" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;">
                @foreach (var area in ViewBag.Problemas)
                {
                    <option value="@area.id">@area.nombre</option>
                }
            </select>

            <div style="text-align: center;">
                <input type="submit" value="Crear" style="padding: 10px 20px; background-color: #007bff; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;">
                <input type="reset" value="Cancelar" style="padding: 10px 20px; background-color: #007bff; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;">
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#searchString").on("keyup", function () {
            var searchString = $(this).val();
            $.ajax({
                url: '/Tickets/SearchUsuarios',
                type: 'GET',
                data: { searchString: searchString },
                success: function (data) {
                    var select = $("#idUser");
                    select.empty();
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            select.append("<option value='" + data[i].id + "'>" + data[i].nombre + " " + data[i].apellido + "</option>");
                        }
                    } else {
                        select.append("<option>No results found</option>");
                    }
                }
            });
        });
    });
</script>