@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

﻿@using System.Security.Claims

@{
    var usuario = ViewBag.usuario;
    var areas = ViewBag.Problemas;
}

<div style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <div class="container" style="max-width: 600px; margin: 50px auto; padding: 20px; background-color: #fff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center; margin-bottom: 20px;">TICKET</h2>

        <!-- Formulario de Creación de Tickets -->
        <form asp-action="Create" method="post" enctype="multipart/form-data" style="display: grid; grid-gap: 10px;">

            <label style="font-weight: bold;" for="serv_app">Usuario: @usuario.id @usuario.nombre @usuario.apellido</label>
            <input value="@usuario.id" name="idUser" id="idUser" readonly />
            
            <label style="font-weight: bold;" for="serv_app">Problema:</label>
            <input required type="text" id="serv_app" name="serv_app" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;" />

            <label style="font-weight: bold;" for="descripcion">Descripción:</label>
            <textarea required id="descripcion" name="descripcion" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;"></textarea>

            <label style="font-weight: bold;" for="adjuntar">Adjuntar Archivo:</label>
            <input required type="file" id="archivos" name="archivo" style="width: calc(100% - 10px); padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;" />

            <input hidden required type="text" value="No Asignado" id="prioridad" name="prioridad" style="width: calc(100% - 10px); padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;" />

            <label style="font-weight: bold;" for="id_area">Tipo Problema:</label>
            <select required id="id_area" name="id_area" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px; box-sizing: border-box; font-size: 16px;">
                @foreach (var area in areas)
                {
                    <option value="@area.id">@area.nombre</option>
                }
            </select>
               
            <div style="text-align: center;">
                <input type="submit" value="Crear" style="padding: 10px 20px; background-color: #17202A; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;">
                <input type="reset" value="Cancelar" style="padding: 10px 20px; background-color: #17202A; border: none; border-radius: 5px; color: #fff; cursor: pointer; transition: background-color 0.3s;">
            </div>
        </form>
    </div>
</div>